*.log
.DS_Store
Thumbs.db
/.phpactor.json
/.phpunit.cache
/node_modules
/packages
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.codex
/.cursor/
/.idea
/.nova
/.vscode
/.zed
