/*
|--------------------------------------------------------------------------
| App CSS
|--------------------------------------------------------------------------
|
| Put any custom CSS in this file, and it will be loaded on every page,
| following Waterhole's default CSS. To discover more variables and
| classes you might like to override, read about Waterhole's design system:
|
| https://waterhole.dev/docs/design/overview
|
*/

:root {
    /* Set the hue/saturation/lightness of the main accent color */
    --palette-accent-h: 252;
    --palette-accent-s: 93%;
    --palette-accent-l: 58%;
}

[data-theme='light'] {
    /* Put any light-mode-specific customizations here */
}

[data-theme='dark'] {
    /* Put any dark-mode-specific customizations here */
}
